<template>
    <div id="partials-sidebar-component">

        <div class="leftpanel">
            <div class="leftpanelinner">

                <!-- ################## LEFT PANEL PROFILE ################## -->

                <div class="media leftpanel-profile">
                    <div class="media-left">
                        <a href="#">
                            <img src="/images/photos/loggeduser.png" alt="" class="media-object img-circle">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"> {{ this.$store.state.user.name }} <a data-toggle="collapse"
                                                                                        data-target="#loguserinfo"
                                                                                        class="pull-right"><i
                                class="fa fa-angle-down"></i></a>
                        </h4>
                        <span>{{ this.$store.state.user.role }}</span>
                    </div>
                </div><!-- leftpanel-profile -->

                <div class="leftpanel-userinfo collapse" id="loguserinfo">
                    <h5 class="sidebar-title">Contact</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label class="pull-left">Email</label>
                            <span class="pull-right"> {{ this.$store.state.user.email }}</span>
                        </li>
                        <li class="list-group-item">
                            <label class="pull-left">Social</label>
                            <div class="social-icons pull-right">
                                <a href="#"><i class="fa fa-facebook-official"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div><!-- leftpanel-userinfo -->


                <div class="tab-content">

                    <!-- ################# MAIN MENU ################### -->

                    <div class="tab-pane active" id="mainmenu">
                        <ul class="nav nav-pills nav-stacked nav-quirk">

                            <router-link tag="li" exact-active-clas="active" to='dashboard' exact><a><i
                                    class="fa fa-home"></i>
                                <span>Dashboard</span></a>
                            </router-link>

                        </ul>
                        <h5 class="sidebar-title">Main Menu</h5>
                        <ul class="nav nav-pills nav-stacked nav-quirk">
                            <li class="nav-parent" :class="{'active': subIsActive('/announcements')}">
                                <a href="/announcements"><i class="fa fa-bell"></i>
                                    <span>Announcements</span></a>
                                <ul class="children">

                                    <router-link exact tag="li" exact-active-clas="active" to='/announcements'><a>Announcements</a>
                                    </router-link>

                                    <router-link tag="li" exact-active-clas="active" to='/announcements/create' exact>
                                        <a>Create Announcement</a>
                                    </router-link>

                                </ul>
                            </li>
                            <li class="nav-parent" :class="{'active': subIsActive('/teachers')}">
                                <a href="/teachers"><i class="fa fa-users"></i>
                                    <span>Teachers</span></a>
                                <ul class="children">

                                    <router-link exact tag="li" exact-active-clas="active" to='/teachers'>
                                        <a>Teachers</a></router-link>

                                    <router-link exact tag="li" exact-active-clas="active" to='/teachers/create'><a>Create Teachers</a>
                                    </router-link>
                                </ul>
                            </li>
                            <li class="nav-parent" :class="{'active': subIsActive('/guardians')}">
                                <a href="/guardians"><i class="fa fa-user"></i>
                                    <span>Guardians</span></a>
                                <ul class="children">

                                    <router-link exact tag="li" exact-active-clas="active" to='/guardians'>
                                        <a>Guardians</a></router-link>

                                    <router-link exact tag="li" exact-active-clas="active" to='/guardians/create'><a>Create Guardian</a>
                                    </router-link>
                                </ul>
                            </li>
                            <li class="nav-parent" :class="{'active': subIsActive('/students')}">
                                <a href="/students"><i class="fa fa-user-plus"></i>
                                    <span>Students</span></a>
                                <ul class="children">

                                    <router-link exact tag="li" exact-active-clas="active" to='/students'>
                                        <a>Students</a></router-link>

                                    <router-link exact tag="li" exact-active-clas="active" to='/students/create'><a>Create Students</a>
                                    </router-link>
                                </ul>
                            </li>
                            <li class="nav-parent" :class="{'active': subIsActive('/subjects')}">
                                <a href="/subjects"><i class="fa fa-suitcase"></i>
                                    <span>Subjects</span></a>
                                <ul class="children">

                                    <router-link exact tag="li" exact-active-clas="active" to='/subjects'>
                                        <a>Subjects</a>
                                    </router-link>

                                    <router-link exact tag="li" exact-active-clas="active" to='/subjects/create'><a>Create Subject</a>
                                    </router-link>


                                </ul>
                            </li>
                            <li class="nav-parent" :class="{'active': subIsActive('/classes')}">
                                <a href="/classes"><i class="fa fa-mortar-board"></i>
                                    <span>Classes</span></a>
                                <ul class="children">

                                    <router-link exact tag="li" exact-active-clas="active" to='/classes'><a>Classes</a>
                                    </router-link>

                                    <router-link exact tag="li" exact-active-clas="active" to='/classes/create'><a>Create Class</a>
                                    </router-link>

                                </ul>
                            </li>

                            <router-link exact tag="li" exact-active-clas="active" to='settings'><a><i
                                    class="fa fa-cogs"></i> <span>Settings</span></a>
                            </router-link>
                        </ul>
                    </div><!-- tab-pane -->


                </div><!-- tab-content -->

            </div><!-- leftpanelinner -->
        </div><!-- leftpanel -->


    </div>
</template>


<script>
    export default {

        data() {
            return {
                data: {}
            }
        },
        computed: {},

        created() {
            //DO SOMETHING HERE AT FIRST LOAD
            let that = this;
            // axios.get('/api/v1/users')
            // .then(function (response) {
            // 	that.users = response.data.data;
            // })
            // .catch(function (error) {
            // 	console.log(error);
            // });
        },
        methods: {
            onSubmit() {
                let that = this;
            },
            subIsActive(input) {
                const paths = Array.isArray(input) ? input : [input]
                return paths.some(path => {
                    return this.$route.path.indexOf(path) === 0 // current path starts with this path string
                })
            }
        }


    };</script>