<template>
    <div id="partials-top-navigation-component">

        <div class="headerpanel">

            <div class="logopanel">
                <h2>
                    <router-link to="/dashboard">SKUYLA</router-link>
                </h2>
            </div><!-- logopanel -->

            <div class="headerbar">

                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>

                <div class="header-right">
                    <ul class="headermenu">
                        <li>
                            <div id="noticePanel" class="btn-group">
                                <button class="btn btn-notice alert-notice" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                </button>
                                <div id="noticeDropdown" class="dropdown-menu dm-notice pull-right">
                                    <div role="tabpanel">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs nav-justified" role="tablist">
                                            <li class="active"><a data-target="#notification" data-toggle="tab">Notifications ({{ notifications.length }})</a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="notification">
                                                <ul class="list-group notice-list">
                                                    <li class="list-group-item"
                                                        v-for="notification in notifications" v-bind:class="{ 'unread' : !notification.is_read }">
                                                        <div class="row">
                                                            <div class="col-xs-2">
                                                                <i v-bind:class="notification.icon" class="fa"></i>
                                                            </div>
                                                            <div class="col-xs-10">
                                                                <h5>
                                                                    <router-link :to="'/notifications/' + notification.id + '/show'">
                                                                        {{ notification.title }}
                                                                    </router-link>
                                                                </h5>
                                                                <span>{{ notification.content }}</span>
                                                                <small>{{ notification.created_at }}</small>

                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <router-link to="/notifications" class="btn-more">
                                                    View More Notifications <i
                                                        class="fa fa-long-arrow-right"></i></router-link>
                                            </div><!-- tab-pane -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-logged" data-toggle="dropdown">
                                    <img src="images/photos/loggeduser.png" alt="">
                                    {{ this.$store.state.user.first_name }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> My Profile</a>
                                    </li>
                                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                                    <li><a v-on:click='logout'><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div><!-- header-right -->
            </div><!-- headerbar -->
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                notifications: {}
            }
        },
        computed: {},

        created() {
            //DO SOMETHING HERE AT FIRST LOAD
            let that = this;
            // axios.get('/api/v1/users')
            // .then(function (response) {
            // 	that.users = response.data.data;
            // })
            // .catch(function (error) {
            // 	console.log(error);
            // });

            //DO SOMETHING HERE AT FIRST LOAD
            axios.get('/api/v1/notifications')
                .then(function (response) {
                    that.notifications = response.data.data;
                })
                .catch(function (error) {
                    that.$router.app.$emit('notifyFailed', error.response.data.message);
                });
        },
        methods: {
            logout() {
                let that = this;
                localStorage.removeItem('access_token');
                localStorage.removeItem('refresh_token');
                that.$store.state.user = {};
                that.$store.state.isAuthenticated = false;
                that.$store.state.access_token = null;
                that.$router.go('/login');
            }
        }


    };</script>