<template>
    <div id="admin-index-component">

        <div class="contentpanel">

            <ol class="breadcrumb breadcrumb-quirk">
                <li>
                    <router-link to='/dashboard'><i class="fa fa-home mr5"></i> Dashboard</router-link>
                </li>
                <li>
                    <router-link to='/teachers'>Settings</router-link>
                </li>
                <li class="active">Create</li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Settings
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="first_name">First Name </label>
                                <input v-model='form.first_name' placeholder="Fistname" class="form-control"
                                       type="input" name="fist_name"/>
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input v-model='form.last_name' placeholder="Lastname" class="form-control" type="input"
                                       name="last_name"/>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input v-model='form.email' placeholder="Email" class="form-control" type="input"
                                       name="email"/>
                            </div>
                            <div class="form-group">
                                <label for="first_name">Password </label>
                                <input v-model='form.password' placeholder="Password" class="form-control"
                                       type="password" name="fist_name"/>
                            </div>
                            <div class="form-group">
                                <button v-on:click="onSubmit" class="btn btn-md btn-success">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- contentpanel -->


    </div>

</template>


<script>
    export default {

        data() {
            return {
                form: new Form({
                    first_name: '',
                    last_name: '',
                    email: '',
                    password: '',
                }),
                messages: {}
            }
        },
        computed: {},

        created() {
            //DO SOMETHING HERE AT FIRST LOAD
            let that = this;
        },
        methods: {
            onSubmit() {
                let that = this;
                that.form.post('/api/v1/users/create')
                    .then(function (response) {
                        that.$router.push('/users');
                    })
                    .catch(function (error) {
                        that.form.reset();
                        that.$router.app.$emit('notifyFailed',error.response.data.message);

                    });
            }
        }


    };
</script>
<style type="text/css" media="screen">

</style>
