<template>
    <div id="admin-index-component">
        <div class="panel panel-default">
            <div class="panel-heading">
                Users
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="first_name">First Name </label>
                            <input v-model='form.first_name' placeholder="Fistname" class="form-control" type="input" name="fist_name"/>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input v-model='form.last_name' placeholder="Lastname" class="form-control" type="input" name="last_name"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input v-model='form.email' placeholder="Email" class="form-control" type="input" name="email"/>
                        </div>
                        <div class="form-group">
                            <label for="first_name">Password </label>
                            <input v-model='form.password' placeholder="Password" class="form-control" type="password" name="fist_name"/>
                        </div>
                        <div class="form-group">
                            <button v-on:click="onSubmit" class="btn btn-md btn-success">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>


<script>
    export default {

        data() {
            return {
                form: new Form({
                    first_name: '',
                    last_name: '',
                    email: '',
                    password: '',
                }),
                messages: {}
            }
        },
        computed: {},

        created() {
            //DO SOMETHING HERE AT FIRST LOAD
            let that = this;
        },
        methods: {
            onSubmit() {
                let that = this;
                that.form.post('/api/v1/users/create')
                    .then(function (response){
                        that.$router.push('/users');
                    })
                    .catch(function (error){
                        that.form.reset();
                        that.$router.app.$emit('notifyFailed','Failen on adding User!');

                    });
            }
        }


    };
</script>
<style type="text/css" media="screen">

</style>
