<template>
    <div id="admin-index-component">

        <div class="contentpanel">

            <ol class="breadcrumb breadcrumb-quirk">
                <li>
                    <router-link to='/dashboard'><i class="fa fa-home mr5"></i> Dashboard</router-link>
                </li>
                <li><router-link to='/announcements'>Announcements</router-link></li>
                <li class="active">Create</li>
            </ol>

            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Create Announcement</h4>
                    <p>Please provide fill up the forms.</p>
                </div>
                <div class="panel-body">
                    <hr>
                    <div id="basicForm"  class="form-horizontal">
                        <div v-bind:class="{ 'has-error' : form.errors.has('title') }" class="form-group">
                            <label class="col-sm-3 control-label">Title <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input v-model='form.title' placeholder="Title" class="form-control" type="input" name="title"/>
                                <label v-show="form.errors.has('title')" class="error">{{ form.errors.get('title') }}</label>
                            </div>
                        </div>
                        <div v-bind:class="{ 'has-error' : form.errors.has('date') }" class="form-group">
                            <label class="col-sm-3 control-label">Date <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input v-model='form.date' placeholder="YYYY-MM-DD" class="form-control" type="input" name="date"/>
                                <label v-show="form.errors.has('date')" class="error">{{ form.errors.get('date') }}</label>
                            </div>
                        </div>

                        <div v-bind:class="{ 'has-error' : form.errors.has('content') }" class="form-group">
                            <label class="col-sm-3 control-label">Content <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <textarea rows="5" v-model='form.content' class="form-control" placeholder="Type your content..." required="" aria-required="true"></textarea>
                                <label v-show="form.errors.has('content')" class="error">{{ form.errors.get('content') }}</label>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button v-on:click="onSubmit" class="btn btn-success btn-quirk btn-wide mr5">Submit</button>
                                <button v-on:click="resetForm" type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                            </div>
                        </div>

                    </div>
                </div><!-- panel-body -->
            </div>


        </div><!-- contentpanel -->



    </div>

</template>


<script>
    export default {

        data() {
            return {
                form: new Form({
                    title: '',
                    content: '',
                    date: new Date().toISOString().slice(0,10),
                }),
                messages: {}
            }
        },
        computed: {},

        created() {
            //DO SOMETHING HERE AT FIRST LOAD
            let that = this;
        },
        methods: {
            onSubmit() {
                let that = this;
                that.form.post('/api/v1/admin/announcements/create')
                    .then(function (response){
                        that.form.reset();
                        that.$router.app.$emit('notifySuccess',response.message);
                        that.$router.push('/announcements');
                    })
                    .catch(function (error){
                        that.$router.app.$emit('notifyFailed',error.message);

                    });
            },
            resetForm(){
                let that = this;
                that.form.reset();
            }
        }


    };
</script>
<style type="text/css" media="screen">

</style>
