<template>
    <div id="admin-index-component">

        <div class="contentpanel">

            <ol class="breadcrumb breadcrumb-quirk">
                <li>
                    <a href="index.html"></a>
                    <router-link to='/dashboard'><i class="fa fa-home mr5"></i> Dashboard</router-link>

                </li>
                <li class="active">Announcements</li>
            </ol>

            <div class="col-sm-8 col-md-12 col-lg-12 people-list">
                <div class="people-options clearfix">
                    <div class="btn-toolbar pull-left">
                        <router-link tag="button" class="btn btn-success btn-quirk" to="/announcements/create">
                            Add New Annoucement
                        </router-link>
                        <button v-on:click="removeAllOwnedAnnouncements()" type="button"
                                class="btn btn-danger btn-quirk">Remove all created announcements
                        </button>
                    </div>
                    <span class="people-count pull-right">Announcements <strong>( {{ announcements.length }} )</strong></span>
                </div><!-- people-options -->

                <div class="panel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">

                        <div class="panel panel-announcement announcement-container"
                             v-for="announcement in announcements">
                            <ul class="panel-options">
                                <li><a><i class="fa fa-refresh"></i></a></li>
                                <li><a><i class="fa fa-remove"></i></a></li>
                            </ul>
                            <div class="panel-heading">
                                <h4 class="panel-title">Announcement</h4>
                            </div>
                            <div class="panel-body">
                                <h2>{{ announcement.title }}</h2>
                                <h4>{{ announcement.content }}</h4>
                                <span>School: {{ announcement.school }}</span>
                                <p>Created By: {{announcement.created_by }}</p>
                                <span>Date: {{announcement.date }}</span>
                                <div class="pull-right" v-show="announcement.is_owned">
                                    <router-link tag="button" class="btn btn-info"
                                                 :to="'/announcements/' + announcement.id + '/edit'">Edit
                                    </router-link>
                                    <button class="btn btn-danger" v-on:click="removeAnnouncement(announcement.id)">
                                        Remove
                                    </button>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>

        </div><!-- contentpanel -->


    </div>

</template>


<script>
    export default {

        data() {
            return {
                announcements: {}
            }
        },
        computed: {},

        created() {
            //DO SOMETHING HERE AT FIRST LOAD
            let that = this;
            that.fetch();
        },
        methods: {
            fetch() {
                let that = this;
                axios.get('/api/v1/admin/announcements')
                    .then(function (response) {
                        that.announcements = response.data.data;
                    })
                    .catch(function (error) {
                        that.$router.app.$emit('notifyFailed', error.response.data.message);
                    });
            },
            removeAllOwnedAnnouncements() {
                let that = this;
                that.$swal({
                    title: "Are you sure?",
                    text: "Removing All Announcement!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete('/api/v1/admin/announcements/delete-all')
                                .then(function (response) {
                                    that.fetch();
                                    that.$router.app.$emit('notifySuccess', 'Marked all notifications as unread!');
                                })
                                .catch(function (error) {
                                    that.$router.app.$emit('notifyFailed', error.response.data.message);
                                });

                        }
                    });


            },
            removeAnnouncement(id) {
                let that = this;
                that.$swal({
                    title: "Are you sure?",
                    text: "Removing Announcement!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete('/api/v1/admin/announcements/' + id + '/delete')
                                .then(function (response) {
                                    that.fetch();
                                    that.$router.app.$emit('notifySuccess', 'Removed an announcement!');
                                })
                                .catch(function (error) {
                                    that.$router.app.$emit('notifyFailed', error.response.data.message);
                                });

                        }
                    });

            }

        }


    };</script>
<style type="text/css" media="screen">

</style>
