<template>
    <div class="layouts-admin">
        <top-navigation-component></top-navigation-component>

        <section>
            <sidebar-component></sidebar-component>


            <div class="mainpanel">
                <router-view></router-view>


            </div><!-- mainpanel -->
        </section>








    </div>

</template>

<script>
    export default {

        data() {
            return {}
        },
        created() {
        },
        methods: {}


    };</script>


<style type="text/css" media="screen">


</style>