<template>
    <div id="admin-index-component">

        <div class="contentpanel">

            <ol class="breadcrumb breadcrumb-quirk">
                <li>
                    <a href="index.html"></a>
                    <router-link to='/dashboard'><i class="fa fa-home mr5"></i> Dashboard</router-link>

                </li>
                <li class="active">Students</li>
            </ol>

            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Data Table With Child Rows</h4>
                    <p>
                        This can be used to show additional information about a row, useful for cases where you wish to convey more information about a row than there is space for in the host table.</p>
                </div>
                <div class="panel-body">


                    <div class="table-responsive">
                        <datatable :columns="columns" :data="rows">

                        </datatable>
                        <datatable-pager v-model="page" type="short" :per-page="per_page"></datatable-pager>

                    </div>


                </div>
            </div>


        </div><!-- contentpanel -->


    </div>

</template>


<script>
    export default {
        mounted() {
        },
        data() {
            return {
                columns: [
                    {label: 'id', field: 'id'},
                    {label: 'Name', field: 'name'},
                    {label: 'Email', field: 'email'}
                ],
                rows: [],
                page: 1,
                per_page: 10,
            }
        },
        methods: {
            getUsers: function () {
                axios.get('/api/v1/admin/teachers').then(function (response) {
                    this.rows = response.data.data;
                }.bind(this));
            }
        },
        created: function () {
            this.getUsers()
        }
    }
</script>
<style type="text/css" media="screen">

</style>
