<template>
    <div class="errors-404-component">

        <section>

            <div class="notfoundpanel">
                <h1>404!</h1>
                <h3>The page you are looking for has not been found!</h3>
                <h4>The page you are looking for might have been removed, had its name changed,<br>or unavailable. Maybe you could try a search:</h4>
                <form action="index.html">
                    <div class="input-group mb15">
                        <input type="text" class="form-control" placeholder="Search here">
                        <span class="input-group-btn">
          <button class="btn btn-success" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </span>
                    </div>
                </form>
                <hr class="darken">
                <ul class="list-inline">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li class="pull-right">Quirk &copy; 2015. All Rights Reserved.</li>
                </ul>

            </div><!-- notfoundpanel -->

        </section>
    </div>

</template>

