<template>
    <div id="admin-index-component">

        <div class="contentpanel">

            <ol class="breadcrumb breadcrumb-quirk">
                <li>
                    <a href="index.html"></a>
                    <router-link to='/dashboard'><i class="fa fa-home mr5"></i> Dashboard</router-link>

                </li>
                <li class="active">Notifications</li>
            </ol>

            <div class="col-sm-8 col-md-12 col-lg-12 people-list">
                <div class="people-options clearfix" >
                    <div class="btn-toolbar pull-left">
                        <button v-on:click="markAllNotificationsAsRead()" type="button" class="btn btn-success btn-quirk">Mark all as read</button>
                    </div>
                    <span class="people-count pull-right">Notifications <strong>( {{ notifications.length }} )</strong></span>
                </div><!-- people-options -->

                <div class="panel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">

                        <div class="well primary mb10" v-for="notification in notifications">
                            <h5>{{ notification.title }}</h5>
                            <p>{{ notification.content }}</p>
                            <p>
                                <button v-if="!notification.is_read" v-on:click="markNotificationAsRead(notification.id)" class="btn btn-default btn-quirk">Mark as read</button>
                            </p>
                        </div>

                    </div>

                </div>

            </div>

        </div><!-- contentpanel -->



    </div>

</template>


<script>
    export default {

        data(){
            return {
                notifications: {}
            }
        },
        computed: {},

        created(){
            //DO SOMETHING HERE AT FIRST LOAD
            let that = this;
            that.fetch();
        },
        methods: {
            fetch() {
                let that = this;
                axios.get('/api/v1/notifications')
                    .then(function (response) {
                        that.notifications = response.data.data;
                    })
                    .catch(function (error) {
                        that.$router.app.$emit('notifyFailed',error.response.data.message);
                    });
            },
            markAllNotificationsAsRead(){
                let that = this;

                axios.put('/api/v1/notifications/mark-all-as-read')
                    .then(function (response) {
                        that.fetch();
                        that.$router.app.$emit('notifySuccess','Marked all notifications as read!');
                    })
                    .catch(function (error) {
                        that.$router.app.$emit('notifyFailed',error.response.data.message);
                    });


            },
            markNotificationAsRead(id){
                let that = this;
                axios.put('/api/v1/notifications/' + id + '/mark-as-read')
                    .then(function (response) {
                        that.fetch();
                        that.$router.app.$emit('notifySuccess','Marked a notifications as read!');
                    })
                    .catch(function (error) {
                        that.$router.app.$emit('notifyFailed',error.response.data.message);
                    });

            }

        }


    };</script>
<style type="text/css" media="screen">

</style>
