<template>
    <div id="admin-index-component">

        <div class="contentpanel">

            <ol class="breadcrumb breadcrumb-quirk">
                <li>
                    <a href="index.html"></a>
                    <router-link to='/dashboard'><i class="fa fa-home mr5"></i> Dashboard</router-link>

                </li>
                <li class="active">Guardians</li>
            </ol>

            <div class="col-sm-8 col-md-12 col-lg-12 people-list">
                <div class="people-options clearfix" >
                    <div class="btn-toolbar pull-left">
                        <button type="button" class="btn btn-success btn-quirk">Add to Contacts</button>
                        <button type="button" class="btn btn-success btn-quirk">Add to Group</button>
                        <button type="button" class="btn btn-default"><i class="fa fa-trash"></i></button>
                    </div>

                    <div class="btn-group pull-right people-pager">
                        <a href="people-directory-grid.html" class="btn btn-default"><i class="fa fa-th"></i></a>
                        <button type="button" class="btn btn-default-active"><i class="fa fa-th-list"></i></button>
                    </div>

                    <div class="btn-group pull-right people-pager">
                        <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <span class="people-count pull-right">Showing <strong>1-10</strong> of <strong>34,404</strong> users</span>
                </div><!-- people-options -->

                <div class="panel panel-profile list-view"  v-for="user in users" >
                    <div class="panel-heading">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="/images/photos/user1.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ user.name }}</h4>
                                <p class="media-usermeta"><i class="glyphicon glyphicon-briefcase"></i> Regional Finance Manager</p>
                            </div>
                        </div><!-- media -->
                        <ul class="panel-options">
                            <li><a class="tooltips" href="" data-toggle="tooltip" title="" data-original-title="View Options"><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                        </ul>
                    </div><!-- panel-heading -->

                    <div class="panel-body people-info">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="info-group">
                                    <label>Location</label>
                                    San Francisco, CA, USA
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="info-group">
                                    <label>Email</label>
                                    {{ user.email }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="info-group">
                                    <label>Phone</label>
                                    386-7521860
                                </div>
                            </div>
                        </div><!-- row -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="info-group">
                                    <label>Followers</label>
                                    <h4>1,348</h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="info-group">
                                    <label>Following</label>
                                    <h4>232</h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="info-group">
                                    <label>Social</label>
                                    <div class="social-account-list">
                                        <i class="fa fa-facebook-official"></i>
                                        <i class="fa fa-twitter"></i>
                                        <i class="fa fa-dribbble"></i>
                                    </div>
                                </div>
                            </div>
                        </div><!-- row -->
                    </div>
                </div><!-- panel -->


            </div>

        </div><!-- contentpanel -->



    </div>

</template>


<script>
    export default {

        data(){
            return {
                users: {}
            }
        },
        computed: {},

        created(){
            //DO SOMETHING HERE AT FIRST LOAD
            let that = this;
            axios.get('/api/v1/users')
                .then(function (response) {
                    that.users = response.data.data;
                })
                .catch(function (error) {
                    that.$router.app.$emit('notifyFailed',error.response.data.message);
                });
        },
        methods: {
            onSubmit(){
                let that = this;
            }
        }


    };</script>
<style type="text/css" media="screen">

</style>
