<template>
    <div id="admin-index-component">

        <div class="contentpanel">

            <ol class="breadcrumb breadcrumb-quirk">
                <li>
                    <a href="index.html"></a>
                    <router-link to='/dashboard'><i class="fa fa-home mr5"></i> Dashboard</router-link>

                </li>
                <li class="active">Class</li>
            </ol>

            <div class="well primary mb10" v-for="user in users">
                <h3>{{ user.name }}</h3>
                <p>{{ user.email }}</p>
            </div>


        </div><!-- contentpanel -->



    </div>

</template>


<script>
    export default {

        data(){
            return {
                users: {}
            }
        },
        computed: {},

        created(){
            //DO SOMETHING HERE AT FIRST LOAD
            let that = this;
            axios.get('/api/v1/users')
                .then(function (response) {
                    that.users = response.data.data;
                })
                .catch(function (error) {
                    that.$router.app.$emit('notifyFailed',error.response.data.message);
                });
        },
        methods: {
            onSubmit(){
                let that = this;
            }
        }


    };</script>
<style type="text/css" media="screen">

</style>
